<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gitbusters.pixelgram">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name= " android.permission.WRITE_SETTINGS"/>

    <application
        android:name=".PostApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_pixelgram_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSplash"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Pixelgram"
            android:exported="true">
        </activity>
        <activity
            android:name=".CommentActivity"
            android:exported="true"
            android:theme="@style/Theme.Pixelgram"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />

              <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
        </activity>
    </application>

</manifest>